<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Решето Эратосфена</title>
    <style>
        body {
            background-color: white;
            color: black;
            margin: 0;
            padding: 0;
        }
        .header {
            background-color: black;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
        .content {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <div></div>
        <div>
            <p style="margin-right: 10px;">{{ username }}</p>
            <button onclick="logout()">Выход</button>
        </div>
    </div>
    <div class="content">
        <h1>Решето Эратосфена</h1>
        <p>Клиент-серверное приложение "Решето Эратосфена" предназначено 
            для визуализации алгоритма нахождения простых чисел с помощью метода
            решета Эратосфена. Оно позволяет пользователям наглядно увидеть процесс
            фильтрации чисел и выделения простых, что способствует лучшему
            пониманию математических концепций.</p>
        <button onclick="window.location.href='/generate_sieve'">Сгенерировать решето</button>
        <button onclick="window.location.href='/history'">Посмотреть историю генераций</button>
    </div>

    <script>
        function logout() {
            window.location.href = '/logout';
        }
    </script>
</body>
</html>
